html,
body {
  font-family: serif;
  font-display: fallback;
  max-width: 100vw;
  background-color: black;
  color: #d5d5ea
}

pre,
code {
  font-family: monospace;
  font-display: fallback;
}

a {
  color: #0000ff;
}

a:visited {
  color: #ff00ff;
}

a:active {
  color: #ff0000;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  margin: 5pt 0;
  padding: 5pt 10pt;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
